.principal-container-with-shield {
    display: flex;
    justify-content: center;
    background-color: black;
}


.character-container-info {
    width: 300px;
    // background-color: lightskyblue;
    background-image: url(https://wallpapersite.com/images/pages/pic_w/6362.jpg);
    margin: 18px;
    padding: 25px;
    justify-items: center;
    font-family: fantasy;
    border-radius: 25px;
    color: white;
    text-align: center;
}

.character-img {
    width: 210px;
    height: 300px;
    border-radius: 25px;
}

.character-info-li {
    list-style-type: none;
    font-size: 26px;
}

.shield-image {
    width: 300px;
    height: 450px;
    margin-top: 60px;
    margin-left: 25px;
}