.header {
    padding-top: 35px;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, darkblue , black);
    padding-left: 15%;
}

.container--main {
    display: flex;
    flex-direction: row;
}

.img-decoration {
    width: 20%;
    height: 20%;
}

.web-title {
    font-family: fantasy;
    font-size: 50px;
    color: white;
}

.input-styles {
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkslategrey;
    color: lightgreen;
    margin-bottom: 40px;
}

body {
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, darkblue , black);
}

@media (max-width: 720px){
    .img-decoration {
        display: none;
        visibility: hidden;
    }
    .input-styles {
        width: 60%;
        font-size: 14px;
    }
}
