.character-container {
    width: 230px;
    background-color: lightskyblue;
    margin: 18px;
    padding: 25px;
    justify-items: center;
    font-family: fantasy;
}

.character-img {
    width: 210px;
    height: 300px;
    margin-left: 10px;
}

.text-character-name, .text-character-house {
    text-align: center;
    margin: 10px;
    width: 100%;
}

.text-character-name {
    font-size: 22px;
}

.text-character-house {
    font-size: 20px;
}